<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!-- MINERAL TREE LIB SETTINGS -->
		<add key="BaseUrl" value="https://test-f-mt.mineraltree.net" />
		<add key="AuthenticationUrl" value="/mtapi/base/security/login" />
		<add key="MTUsername" value="capco@mineraltree.com" />
		<add key="MTPassword" value="CapcoDev$101" />
		<add key="LogHTTPRequests" value="true" />
		<add key="VendorUrl" value="/mtapi/base/services/vendor" />
		<add key="UserUrl" value="/mtapi/base/services/user" />
		<add key="UserCompaniesUrl" value="/mtapi/base/services/user/companies" />
		<add key="SearchUrl" value="/mtapi/base/services/search" />
		<add key="DepartmentUrl" value="/mtapi/base/services/department" />
		<add key="ItemUrl" value="/mtapi/base/services/item" />
		<add key="GlAccountUrl" value="/mtapi/base/services/glaccount" />
		<add key="LocationUrl" value="/mtapi/base/services/location" />
		<add key="TermUrl" value="/mtapi/base/services/term" />
		<add key="PaymentMethodUrl" value="/mtapi/base/services/pm" />
		<!-- END MINERAL TREE LIB SETTINGS -->

		<!-- SYNC SETTINGS -->
		<add key="CompanyNameToSync" value="CAPCO Company" />
		<add key="ActivityLogFileDirectory" value="C:\SCLogs" />
		<add key="LogFilePath" value="C:\SCLogs\SageConnector.log" />
		<!-- END SYNC SETTINGS -->
	</appSettings>
</configuration>