<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SageConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!-- MINERAL TREE LIB SETTINGS -->
		
		<add key="MTUsername" value="capco@mineraltree.com" />
		<add key="MTPassword" value="CapcoDev$101" />
		<add key="BaseUrl" value="https://test-f-mt.mineraltree.net" />
		
		<!--
		<add key="MTUsername" value="stevefairs@hotmail.com" />
		<add key="MTPassword" value="Test_1234" />
		<add key="BaseUrl" value="https://aptimise.mineraltree.com" />
		-->
		
		<add key="AuthenticationUrl" value="/mtapi/base/security/login" />
		<add key="VendorUrl" value="/mtapi/base/services/vendor" />
		<add key="UserUrl" value="/mtapi/base/services/user" />
		<add key="UserCompaniesUrl" value="/mtapi/base/services/user/companies" />
		<add key="SearchUrl" value="/mtapi/base/services/search" />
		<add key="DepartmentUrl" value="/mtapi/base/services/department" />
		<add key="ItemUrl" value="/mtapi/base/services/item" />
		<add key="GlAccountUrl" value="/mtapi/base/services/glaccount" />
		<add key="LocationUrl" value="/mtapi/base/services/location" />
		<add key="TermUrl" value="/mtapi/base/services/term" />
		<add key="PaymentMethodUrl" value="/mtapi/base/services/pm" />
		<add key="PurchaseOrderUrl" value="/mtapi/base/services/purchaseorder" />
		<add key="BillUrl" value="/mtapi/base/services/bill" />
		<add key="PaymentUrl" value="/mtapi/base/services/payment" />
		<add key="CreditUrl" value="/mtapi/base/services/credit" />
		<add key="BillCreditUrl" value="/mtapi/base/services/billcredit" />
		<add key="ClassificationUrl" value="/mtapi/base/services/classification" />
		<!-- END MINERAL TREE LIB SETTINGS -->

		<!-- SYNC SETTINGS -->
		<add key="MTCompanyNameToSync" value="Capco Company" />
		<!--<add key="MTCompanyNameToSync" value="Sage 200 TEST" />-->
		<add key="StartDate" value="2018/03/14" /> <!-- INVOICES OLDER THAN THIS DATE ARE CONSIDERED HISTORICAL -->
		<add key="ActivityLogFileDirectory" value="C:\SCLogs" />
		<add key="LogFilePath" value="C:\SCLogs\SageConnector.log" />
		<!-- END SYNC SETTINGS -->
		
		<!-- SAGE CONNECTOR SETTINGS -->
		<add key="MinsBetweenSync" value="5" /><!-- MINUTES -->
		<add key="SageCompanyNameToSync" value="Test" />
		<!-- MINUTES -->
		<!-- END SAGE CONNECTOR SETTINGS -->
	</appSettings>
 <userSettings>
  <SageConnector.Properties.Settings>
   <setting name="EnableHTTPLogging" serializeAs="String">
    <value>False</value>
   </setting>
  </SageConnector.Properties.Settings>
 </userSettings>
</configuration>