<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!-- MINERAL TREE LIB SETTINGS-->
		<add key="BaseUrl" value="https://demo-nw.mineraltree.org" />
		<add key="AuthenticationUrl" value="/mtapi/base/security/login" />
		
		<!-- VENDOR ENDPOINTS -->
		<add key="VendorUrl" value="/mtapi/base/services/vendor" />
		<!-- END VENDOR ENDPOINTS -->
		
		<!-- USER ENDPOINTS -->
		<add key="UserUrl" value="/mtapi/base/services/user" />
		<add key="UserCompaniesUrl" value="/mtapi/base/services/user/companies" />
		<!-- END USER ENDPOINTS -->
		
		<!-- END MINERAL TREE LIB SETTINGS-->

		<!-- SAGE CONNECTOR SETTINGS -->
		<add key="Username" value="steve" />
		<add key="Password" value="test" />
		<!-- END SAGE CONNECTOR SETTINGS -->
	</appSettings>
</configuration>